node-red/.flows.json.backup
[
    {
        "id": "29c3163fb7817531",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b551d0beeb6044a4",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901e06ac39d3f22a",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "699c27a481f505cf",
        "type": "mqtt in",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "soil-sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b551d0beeb6044a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "aaedb7e0bbede60d",
                "d4437b43162cb342"
            ]
        ]
    },
    {
        "id": "aaedb7e0bbede60d",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "ChooseIfWater",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "14b7533e526e8529"
            ]
        ]
    },
    {
        "id": "0863791acdfb8dca",
        "type": "mqtt out",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "sprinkler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "901e06ac39d3f22a",
        "x": 1480,
        "y": 420,
        "wires": []
    },
    {
        "id": "14b7533e526e8529",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "Set1MinuteWatering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "40d9f0837aeab6d4",
                "43552f8c6da1eaf8"
            ]
        ]
    },
    {
        "id": "d4437b43162cb342",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "SOIL SENSOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb247f95828ef699",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "TriggerEveryEveningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"turn\":true,\"time\":5}",
        "payloadType": "json",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "43552f8c6da1eaf8"
            ]
        ]
    },
    {
        "id": "1986ecc4b0a1cb76",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "TriggerEveryMorningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"turn\":true,\"time\":5}",
        "payloadType": "json",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "43552f8c6da1eaf8"
            ]
        ]
    },
    {
        "id": "40d9f0837aeab6d4",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "TURNING ON WATERING",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "43552f8c6da1eaf8",
        "type": "http request",
        "z": "29c3163fb7817531",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0833&lon=19.9167&appid=8c72e9138e65ec1186840b74f62d28ce",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "4b856ac888fc26a3",
                "5cd0682bddd5db19"
            ]
        ]
    },
    {
        "id": "4b856ac888fc26a3",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "CheckIfItIsNotRaining",
        "property": "payload.weather[0].main",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Rain",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "0863791acdfb8dca"
            ]
        ]
    },
    {
        "id": "5cd0682bddd5db19",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "CURRENT WEATHER ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 300,
        "wires": []
    }
]