node-red/flows.json
[
    {
        "id": "29c3163fb7817531",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "699c27a481f505cf",
        "type": "mqtt in",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "soil-sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b551d0beeb6044a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "aaedb7e0bbede60d",
                "d4437b43162cb342"
            ]
        ]
    },
    {
        "id": "aaedb7e0bbede60d",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "choose",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "40",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "14b7533e526e8529",
                "ca7b0961f8b65f90"
            ]
        ]
    },
    {
        "id": "0863791acdfb8dca",
        "type": "mqtt out",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "sprinkler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "901e06ac39d3f22a",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "14b7533e526e8529",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "set_watering_1_minute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "0863791acdfb8dca"
            ]
        ]
    },
    {
        "id": "ca7b0961f8b65f90",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "TURNING ON WATERING",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "d4437b43162cb342",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "SOIL SENSOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb247f95828ef699",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "EveryEveningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"turn\":true,\"time\":1}",
        "payloadType": "json",
        "x": 890,
        "y": 340,
        "wires": [
            [
                "0863791acdfb8dca"
            ]
        ]
    },
    {
        "id": "b551d0beeb6044a4",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901e06ac39d3f22a",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]