node-red/flows.json
[
    {
        "id": "29c3163fb7817531",
        "type": "tab",
        "label": "PlantCare",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0599547ee59029b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e54497d5cb8fb40",
        "type": "tab",
        "label": "PlantCare",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8f1579cea974a8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34a8b8f6f48748f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6718ae28b8fee061",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb674c52ac978bfa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b551d0beeb6044a4",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901e06ac39d3f22a",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b152f129194b96ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "515db88391a859c9",
        "type": "redis-config",
        "name": "Local",
        "options": "{}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "54407a934e569cb5",
        "type": "ui_tab",
        "name": "SmartGarden",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c1967efb5f7418c2",
        "type": "ui_group",
        "name": "RealTime",
        "tab": "54407a934e569cb5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48a645d8eb0654d3",
        "type": "ui_group",
        "name": "History",
        "tab": "54407a934e569cb5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c197e6756cb6f43a",
        "type": "ui_tab",
        "name": "SmartGarden",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6b2a9d5ba83bbc4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a476cb5be3ab9e45",
        "type": "ui_group",
        "name": "SmartGarden",
        "tab": "c197e6756cb6f43a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae36a0019874aaac",
        "type": "redis-config",
        "name": "Local",
        "options": "{}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "a79afa81a29ab22b",
        "type": "ui_group",
        "name": "History",
        "tab": "c197e6756cb6f43a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "699c27a481f505cf",
        "type": "mqtt in",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "soil-sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b551d0beeb6044a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "aaedb7e0bbede60d",
                "d4437b43162cb342",
                "955b6690aff85f0f",
                "0215da94aa8992cb",
                "7cc3268255c508fd",
                "bdaee1a9f89a0336"
            ]
        ]
    },
    {
        "id": "aaedb7e0bbede60d",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "ChooseIfWater",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "a630845cb70296f5"
            ]
        ]
    },
    {
        "id": "0863791acdfb8dca",
        "type": "mqtt out",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "sprinkler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "901e06ac39d3f22a",
        "x": 1580,
        "y": 380,
        "wires": []
    },
    {
        "id": "14b7533e526e8529",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "Set1MinuteWatering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "0863791acdfb8dca",
                "b517d08d90f6d3ca",
                "c439c9b98e1784c6"
            ]
        ]
    },
    {
        "id": "d4437b43162cb342",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "SOIL SENSOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb247f95828ef699",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "TriggerEveryEveningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "43552f8c6da1eaf8"
            ]
        ]
    },
    {
        "id": "1986ecc4b0a1cb76",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "TriggerEveryMorningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "43552f8c6da1eaf8"
            ]
        ]
    },
    {
        "id": "43552f8c6da1eaf8",
        "type": "http request",
        "z": "29c3163fb7817531",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0833&lon=19.9167&appid=8c72e9138e65ec1186840b74f62d28ce",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 520,
        "wires": [
            [
                "4b856ac888fc26a3",
                "c4d5797047eadd9c"
            ]
        ]
    },
    {
        "id": "4b856ac888fc26a3",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "CheckIfItIsNotRaining",
        "property": "payload.weather[0].main",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Rain",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "393f265e0df24901"
            ]
        ]
    },
    {
        "id": "a630845cb70296f5",
        "type": "http request",
        "z": "29c3163fb7817531",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0833&lon=19.9167&appid=8c72e9138e65ec1186840b74f62d28ce",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "822000a51fb7f9c6",
                "c510d4464a5125dc"
            ]
        ]
    },
    {
        "id": "822000a51fb7f9c6",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "CheckIfItIsNotRaining",
        "property": "payload.weather[0].main",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Rain",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "14b7533e526e8529"
            ]
        ]
    },
    {
        "id": "393f265e0df24901",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "Set5MinutesWatering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":5}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "0863791acdfb8dca",
                "e0427297067e4a0d",
                "c439c9b98e1784c6"
            ]
        ]
    },
    {
        "id": "c510d4464a5125dc",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "WEATHER FORECAST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4d5797047eadd9c",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "WEATHER FORECAST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "b517d08d90f6d3ca",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "TURNING ON 1 MINUTE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "e0427297067e4a0d",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "TURNING ON 5 MINUTES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 520,
        "wires": []
    },
    {
        "id": "5bf1f5ad964f68b5",
        "type": "file",
        "z": "29c3163fb7817531",
        "name": "soil_data",
        "filename": "soil_data_9",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1720,
        "y": 780,
        "wires": [
            [
                "078a75c8b4e2b8a2"
            ]
        ]
    },
    {
        "id": "1cfd0f54fde9447c",
        "type": "ui_chart",
        "z": "29c3163fb7817531",
        "name": "",
        "group": "48a645d8eb0654d3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Dane Historyczne",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff2600",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "078a75c8b4e2b8a2",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "write to historic data file",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 860,
        "wires": []
    },
    {
        "id": "8fb7493799ff976e",
        "type": "file in",
        "z": "29c3163fb7817531",
        "name": "soil_data",
        "filename": "soil_data_9",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 920,
        "wires": [
            [
                "f942e249de41b529"
            ]
        ]
    },
    {
        "id": "4410ea8d30005b9c",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "8fb7493799ff976e"
            ]
        ]
    },
    {
        "id": "2f5d93a82aad385f",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "read from historic data file",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f942e249de41b529",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "chart_parser",
        "func": "const charts = {\n    'soil': [],\n    'sprinkler': []\n}\nconst parsed_points = msg.payload.split('\\n')\n\nfor(let point of parsed_points){\n    let [y, x, label] = point.split(' ');\n    if(x && y && label) {\n        charts[label].push({\n            x: parseInt(x),\n            y: parseInt(y)\n        });\n    }\n}\n\nreturn {\n    payload: [{\n    \"series\": [\"Soil humidity\", \"Sprinkler ON/OFF\"],\n    \"data\": [charts['soil'], charts['sprinkler']],\n    \"labels\": [\"Soil humidity\", \"Sprinkler ON/OFF\"]\n}]};\n[{\n    \"series\": [\"A\", \"B\", \"C\"],\n    \"data\": [\n        [{ \"x\": 1504029632890, \"y\": 5 },\n        { \"x\": 1504029636001, \"y\": 4 },\n        { \"x\": 1504029638656, \"y\": 2 }\n        ],\n        [{ \"x\": 1504029633514, \"y\": 6 },\n        { \"x\": 1504029636622, \"y\": 7 },\n        { \"x\": 1504029639539, \"y\": 6 }\n        ],\n        [{ \"x\": 1504029634400, \"y\": 7 },\n        { \"x\": 1504029637959, \"y\": 7 },\n        { \"x\": 1504029640317, \"y\": 7 }\n        ]\n    ],\n    \"labels\": [\"\"]\n}]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 920,
        "wires": [
            [
                "1cfd0f54fde9447c",
                "2f5d93a82aad385f"
            ]
        ]
    },
    {
        "id": "c439c9b98e1784c6",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "sprinkler_point_parser",
        "func": "const minutes_working = msg.payload.time;\nconst now = new Date().getTime();\n\nreturn [[\n    { payload: `0 ${now} sprinkler` },\n    { payload: `100 ${now + 1000} sprinkler` },\n    { payload: `100 ${now + minutes_working*1000*60} sprinkler` },\n    { payload: `0 ${1000 + now + minutes_working * 1000 * 60} sprinkler` },\n]]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 700,
        "wires": [
            [
                "5bf1f5ad964f68b5"
            ]
        ]
    },
    {
        "id": "955b6690aff85f0f",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "humidity_point_parser",
        "func": "const humidity = msg.payload;\nconst now = new Date().getTime();\nreturn { payload: `${humidity} ${now} soil` }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 780,
        "wires": [
            [
                "5bf1f5ad964f68b5"
            ]
        ]
    },
    {
        "id": "0215da94aa8992cb",
        "type": "ui_chart",
        "z": "29c3163fb7817531",
        "name": "",
        "group": "c1967efb5f7418c2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Poziom Nawodnienia real time",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc3268255c508fd",
        "type": "ui_gauge",
        "z": "29c3163fb7817531",
        "name": "",
        "group": "c1967efb5f7418c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Aktualny poziom nawodnienia",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "bdaee1a9f89a0336",
        "type": "ui_gauge",
        "z": "29c3163fb7817531",
        "name": "",
        "group": "c1967efb5f7418c2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Stan gleby",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#941100",
            "#e6e600",
            "#4e8f00"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "feb22f3e4a68720b",
        "type": "mqtt in",
        "z": "9e54497d5cb8fb40",
        "name": "",
        "topic": "soil-sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b551d0beeb6044a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "0ff07a72263403c8",
                "4774a7eaedd248d3"
            ]
        ]
    },
    {
        "id": "0ff07a72263403c8",
        "type": "switch",
        "z": "9e54497d5cb8fb40",
        "name": "ChooseIfWater",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "7c48cc863b222e45"
            ]
        ]
    },
    {
        "id": "b862c8bc00ee622d",
        "type": "mqtt out",
        "z": "9e54497d5cb8fb40",
        "name": "",
        "topic": "sprinkler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "901e06ac39d3f22a",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b30f5d068280690",
        "type": "change",
        "z": "9e54497d5cb8fb40",
        "name": "Set1MinuteWatering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "b862c8bc00ee622d",
                "faf7fd1a3898b330"
            ]
        ]
    },
    {
        "id": "4774a7eaedd248d3",
        "type": "debug",
        "z": "9e54497d5cb8fb40",
        "name": "SOIL SENSOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "d788dd960130fe62",
        "type": "inject",
        "z": "9e54497d5cb8fb40",
        "name": "TriggerEveryEveningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "a8ae846b08199a6b"
            ]
        ]
    },
    {
        "id": "c07b5a4ec6093c25",
        "type": "inject",
        "z": "9e54497d5cb8fb40",
        "name": "TriggerEveryMorningWatering",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "a8ae846b08199a6b"
            ]
        ]
    },
    {
        "id": "a8ae846b08199a6b",
        "type": "http request",
        "z": "9e54497d5cb8fb40",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0833&lon=19.9167&appid=8c72e9138e65ec1186840b74f62d28ce",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 520,
        "wires": [
            [
                "1005819d25e18bdd",
                "c24fb0593666e559"
            ]
        ]
    },
    {
        "id": "1005819d25e18bdd",
        "type": "switch",
        "z": "9e54497d5cb8fb40",
        "name": "CheckIfItIsNotRaining",
        "property": "payload.weather[0].main",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Rain",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "34ab1649179dcfda"
            ]
        ]
    },
    {
        "id": "7c48cc863b222e45",
        "type": "http request",
        "z": "9e54497d5cb8fb40",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0833&lon=19.9167&appid=8c72e9138e65ec1186840b74f62d28ce",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "cb4a9678b61f818a",
                "f7b152c2fa2ed62b"
            ]
        ]
    },
    {
        "id": "cb4a9678b61f818a",
        "type": "switch",
        "z": "9e54497d5cb8fb40",
        "name": "CheckIfItIsNotRaining",
        "property": "payload.weather[0].main",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Rain",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "3b30f5d068280690"
            ]
        ]
    },
    {
        "id": "34ab1649179dcfda",
        "type": "change",
        "z": "9e54497d5cb8fb40",
        "name": "Set5MinutesWatering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"turn\":true,\"time\":5}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "b862c8bc00ee622d",
                "67a0e7c211628b57"
            ]
        ]
    },
    {
        "id": "f7b152c2fa2ed62b",
        "type": "debug",
        "z": "9e54497d5cb8fb40",
        "name": "WEATHER FORECAST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "c24fb0593666e559",
        "type": "debug",
        "z": "9e54497d5cb8fb40",
        "name": "WEATHER FORECAST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "faf7fd1a3898b330",
        "type": "debug",
        "z": "9e54497d5cb8fb40",
        "name": "TURNING ON 1 MINUTE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 240,
        "wires": []
    },
    {
        "id": "67a0e7c211628b57",
        "type": "debug",
        "z": "9e54497d5cb8fb40",
        "name": "TURNING ON 5 MINUTES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 520,
        "wires": []
    }
]