node-red/flows.json
[
    {
        "id": "29c3163fb7817531",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "699c27a481f505cf",
        "type": "mqtt in",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "garden",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b551d0beeb6044a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "aaedb7e0bbede60d"
            ]
        ]
    },
    {
        "id": "5b06a651c8e020b9",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "turn off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "3184b96745cf46a5",
        "type": "mqtt out",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "garden",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b551d0beeb6044a4",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "29da7c3b9e401528",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "3184b96745cf46a5"
            ]
        ]
    },
    {
        "id": "aaedb7e0bbede60d",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "choose",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "26",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "f71f237d9b891ca1"
            ],
            [
                "5b06a651c8e020b9"
            ],
            [
                "f5dc7a7630d4b623"
            ]
        ]
    },
    {
        "id": "f71f237d9b891ca1",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "turn on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "f5dc7a7630d4b623",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "nothing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "576a3f0da794c8f5",
        "type": "mqtt out",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "sprinkler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "901e06ac39d3f22a",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "f773837fa52af2c6",
        "type": "inject",
        "z": "29c3163fb7817531",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "manual",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "63",
        "payloadType": "num",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "576a3f0da794c8f5"
            ]
        ]
    },
    {
        "id": "fec7cafc62080149",
        "type": "mqtt in",
        "z": "29c3163fb7817531",
        "name": "",
        "topic": "sprinkler",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "901e06ac39d3f22a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "072240a10d1ec34d",
                "47109471124f6565"
            ]
        ]
    },
    {
        "id": "072240a10d1ec34d",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "check_received_data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "40d6cc805bf8ae57",
        "type": "switch",
        "z": "29c3163fb7817531",
        "name": "mode",
        "property": "mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "manual_full",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "manual_part",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "automatic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "daily",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "0ef21468a7c8157f"
            ],
            [
                "65dd735412c1ec55"
            ],
            [
                "5ab31ee0add34303"
            ],
            []
        ]
    },
    {
        "id": "5847444fe45b008d",
        "type": "comment",
        "z": "29c3163fb7817531",
        "name": "Received the moisture level from the sensor",
        "info": "Received the moisture level from the sensor",
        "x": 270,
        "y": 500,
        "wires": []
    },
    {
        "id": "e46aa0ef9abc6fec",
        "type": "comment",
        "z": "29c3163fb7817531",
        "name": "check_weather(open_weather_map)",
        "info": "to jest do daily",
        "x": 180,
        "y": 800,
        "wires": []
    },
    {
        "id": "5ab31ee0add34303",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "automatic",
        "func": "if (msg.payload < 25){\n    flow.set(\"watering\", 75) \n}\nelse if (msg.payload < 50) {\n    flow.set(\"watering\", 50)\n}\nelse if (msg.payload < 75) {\n    flow.set(\"watering\", 25)\n}\nelse {\n    flow.set(\"watering\", 0)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 740,
        "wires": [
            [
                "a0bbf41f70dcf331"
            ]
        ]
    },
    {
        "id": "0ef21468a7c8157f",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "full pump",
        "func": "if (msg.payload < 101){\n    flow.set(\"watering\", 100);\n} else {\n    flow.set(\"watering\", 0);\n}\nreturn msg;\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "a0bbf41f70dcf331"
            ]
        ]
    },
    {
        "id": "65dd735412c1ec55",
        "type": "function",
        "z": "29c3163fb7817531",
        "name": "to 75%",
        "func": "if(msg.payload < 75){\n    flow.set(\"watering\", 75);\n} else {\n    flow.set(\"watering\", 0)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "a0bbf41f70dcf331"
            ]
        ]
    },
    {
        "id": "4d6ada96d9f8e263",
        "type": "debug",
        "z": "29c3163fb7817531",
        "name": "watering",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "watering",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "47109471124f6565",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "set_mode",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "manual_part",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "40d6cc805bf8ae57"
            ]
        ]
    },
    {
        "id": "a0bbf41f70dcf331",
        "type": "change",
        "z": "29c3163fb7817531",
        "name": "set_watering",
        "rules": [
            {
                "t": "set",
                "p": "watering",
                "pt": "msg",
                "to": "watering",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "4d6ada96d9f8e263"
            ]
        ]
    },
    {
        "id": "b551d0beeb6044a4",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901e06ac39d3f22a",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]